.grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-top: 20px;
}

.row {
    display: flex;
    gap: 5px;
}

.cell {
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cell.good {
    background-image: url("melon_good.png");
}

.cell.rotten {
    background-image: url("melon_rotten.png");
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button.disabled {
    display: none;
}