.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

label.leaderRow{
    display:block;
    margin-left: 180px;
    text-align: right;
    width:100px;
    height:30px;
}